.postWrapper {
    position: relative;
    margin-top: 30vh;
}

.image-gallery {
    width: 90%;

    margin: auto;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-columns: auto;
    grid-row-gap: 30px;

    justify-content: center;
    align-items: center;
}

.gallery-image {
    height: 50vw;
}