.container {
    width: 80%;
    max-width: 80rem;
    margin: auto;

    display: flex;
    gap: 4rem;
}

.imageContainer {
    flex: 1;
    background-color: aliceblue;
}

.bioContainer {
    flex: 1;
    background-color: green;
}

.title {
    font-size: 42px;

    font-family: "freight-display-pro", serif;
    font-weight: 600;
    font-style: normal;
}