.aboutWrapper {
    margin-left: auto;
    margin-right: auto;
}

.about {
    height: auto;
    margin-top: 12vw;
    margin-bottom: 12vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 25px;
    grid-row-gap: 35px;
    justify-items: center;
    align-items: start; 

    background-color: white;
}

.aboutPhoto {

}

.aboutText {

    text-align: center;
    width: 60vw;
    max-width: 400px;
}

.aboutTitle {
    margin-bottom: 2px;
}

.aboutBody {
    letter-spacing: .8px;
    line-height: 30px;
    
    font-size: .8em;
}

.usLink {
    padding: 8px;
    border: 1px solid #333;
    background-color: transparent;
}

.usLink:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.usLink:focus {
    outline: none;
}