:root {
    overflow-x: hidden;
}

.aboutPageWrapper {
    margin-top: 50px;
    width: 100%;
    
}

.titleFormat {
    color: #888;
    font-size: 2.5em;
    line-height: 1.1em;
    letter-spacing: 1px;
}

/* HEAD ================================== */

.headWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}



/* TEXT ================================================== */

.aboutContentWrapper {
    width: 50%;
    max-width: 1fr;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 150px;
    
    
}

/* .aboutContentWrapper::after {
    content: "";
    position: absolute;
    left: 0;
    margin-top: 140px;
   
    width: 100%;
    height: 480px;

    background-color: #f6f6f4;
    z-index: -5;
    
} */

.headTitle {
    width: 300px;
    text-align: left;
    z-index: 999;
}

/* .headTitle::after {
    content: "";
    display: contents;

    height: 200px;
    width: 100%;
    background-color: red;
    z-index: 95;
} */

.text {
    width: 70%;
}

.text p {
    color: #555;
    letter-spacing: .8px;
    line-height: 30px;
    font-size: .8em;
}

.contactTitle {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.contactLink {
    padding: 8px;
    border: 1px solid #888;
    background-color: transparent;
    transition-duration: var(--button-duration);
}

.contactLink:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
    transition-duration: var(--button-duration);
}

.contactLink:focus {
    outline: none;
}

/* PHOTOS ============================== */

.photoWrapper {
    margin-top: 30px;
}

.portrait {
    width: 50vw;
    max-width: 350px;
    max-height: 450px;
    z-index: -1;

    transform: translateX(-40px);

}

.landscape {
    width: 50vw;
    max-width: 400px;
    z-index: -1;

    transform: translateY(-160px) translateX(75px);
}

@media (max-width: 1300px) {
    .headWrapper {
        flex-direction: column;
    }

    .aboutContentWrapper {
        justify-self: center;
        width: 70%;
        align-items: flex-start;
        margin: auto;
        margin-left: 50px;
        margin-top: -40px;
    }

    .aboutContentWrapper::after { 
        display: none;
    }
    
    .text {
        width: 90%;
    }
    
    .contactTitle {
        font-size: 1.5em;
        margin-bottom: 30px;
    }
    
    .contactLink {
        padding: 8px;
        border: 1px solid #888;
        background-color: transparent;
    }

    .photoWrapper{
        margin-top: 50px;
        align-self: center;
        margin-bottom: -120px;
        margin-left: -20px;
    }
}

@media (max-width: 800px) {
    .aboutContentWrapper {
        justify-self: center;
        width: 85%;
        align-items: flex-start;
        margin: auto;
        margin-left: 20px;
        margin-top: -40px;
    }

    .headTitle {
        width: 90%;
        text-align: left;
        z-index: 999;
        font-size: 1.9em;
    }
}