.aboutWrapper {
    width: 100%;
    max-width: 1800px;
    margin: 6rem auto;
}

.aboutWrapper::before {
    content: '';
    display: block;
    width: 1100px;
    height: 700px; /*changable*/
    margin: auto;
    margin-bottom: -680px; /*changable*/
    margin-top: -40px;
    margin-right: 0px;
    background-color: #f6f6f4;
}

.about {
    height: auto;
    margin-top: 50px;
    margin-bottom: -110px;
    width: 100%;
    display: flex;
}

.aboutPhoto {
    width: 1100px;
    margin: auto;
    margin-left: 0px;
}   

.aboutText {
    align-self: flex-start;
    margin-top: 6vw;
    margin-right: 5vw;
    text-align: center;
    width: 50%;
}

.aboutBody {
    max-width: 350px;
    margin: auto;
    margin-bottom: 30px;
    letter-spacing: .8px;
    line-height: 30px;
    font-size: .8em;
    color: #555;
    
}

.aboutTitle {
    margin-bottom: 2px;
}


.usLink {
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid #333;
    background-color: transparent;
    transition-duration: var(--button-duration);
}

.usLink:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
    transition-duration: var(--button-duration);
}

.usLink:focus {
    outline: none;
}

@media (max-width: 1150px) {
    .aboutWrapper {
        margin-top: 0px;
    }

    .aboutWrapper::before {
        display: none;
    }

    .about {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .aboutText {
        margin-top: 40px;
        margin-right: 0px;
        align-self: center;
        width: 80%;

    }
    .aboutBody {
        width: 100%;
    }
    .aboutPhoto {
        width: 80%;
        align-self: center;
        margin-left: 0px;
        margin: auto;
        
    
    }

}

@media(max-width: 800px) {
    .aboutWrapper {
        margin-top: -200px;
    }
}