.aboutPageWrapper {
    margin-top: 50px;
    margin-bottom: 10vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.titleFormat {
    color: #888;
    font-size: 2.5em;
    line-height: 1.1em;
    letter-spacing: 1px;
}

/* HEAD ================================== */

.headWrapper {
    margin-left: 12vw;
}

.portrait {
    width: 50vw;
    max-width: 350px;
    max-height: 450px;
    z-index: -1;

    transform: translateX(-40px);

}

.landscape {
    width: 50vw;
    max-width: 400px;
    z-index: -1;

    transform: translateY(-160px) translateX(75px);

}

/* TEXT ================================================== */

.contentWrapper {
    margin-top: -180px;
    width: 60vw;
    max-width: 400px;
}

.headTitle {
    width: 300px;
    text-align: left;
    z-index: 999;
}

.text {
    width: 100%;
}

.text p {
    letter-spacing: .8px;
    line-height: 30px;
    font-size: .8em;
}

.contactTitle {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.contactLink {
    padding: 8px;
    border: 1px solid #333;
    background-color: transparent;
}

.contactLink:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.contactLink:focus {
    outline: none;
}