.footerWrapper {
    background-color: #efefef;
    margin-bottom: 0;
    padding: 3rem 0 5rem 0;
}

.contentWrapper {
    height: 100px;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.social {
    padding-left: 20px;
    width: 200px;
    display: flex;
    flex-direction: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.footerCreator {
    color: #333;
    justify-self: flex-end;
    text-align: right;
    padding-right: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-size: 0.6em;
    font-weight: 100;
    line-height: 2.5em;
}

@media (max-width: 800px) {
    .contentWrapper {
        width: 100%;
    }

    .social {
        padding-left: 10px;
        width: 150px;
    }

    .footerCreator {
        padding-right: 0px;
        font-size: 0.4em;
        padding-right: 30px;
    }
}