.footerWrapper {
    height: 6vh;
    background-color: #555;
}

.footerCreator {
    color: #efefef;
    text-align: center;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-size: 0.5em;
    font-weight: 100;

    position: relative;
    top: 20%;
}