.homeHeaderWrapper {
    height: 100vh;
    position: relative;
    width: 100%;
    margin: auto;
}

.heroImage {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.minorHero {
    position: absolute;
    top: 0;
    height: 40vh;
}

.navWrapper {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navBar {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 20px;
    z-index: 999;
    background-color: transparent;
}

.navBar > * {
    text-align: center;
}

.navLogo {
    margin-top: -8px;
}

.linkBox {
    height: 20px;
}

.navLink {
    text-decoration: none;
    color: #efefef;
    padding-top: 20px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.navLink::after {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    margin: auto;
    margin-top: 10px;
    background-color: #efefef;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
  }
  
.navLink:hover::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


.dark {
    color: #333;
}

.dark::after {
    display: none;
}

.dark::after {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    margin: auto;
    margin-top: 10px;
    background-color: #333;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
  }
  
.dark:hover::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}