.headerWrapper {
    height: 15vh;
    background-color: rgba(0,0,0,.05);
}

.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 20px;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
}

.navBar > * {
    text-align: center;
}

h1 > *, h2 > * {
    text-decoration: none;
    color: #efefef;

    font-family: serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: 2px;
}

.hero {
    height: 90vh;
}

.dark > *{
    color: #333;
}