.homeHeaderWrapper {
    height: 100vh;
    position: relative;
    width: 100%;
    margin: auto;
}

.heroImage {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.minorHero {
    position: absolute;
    top: 0;
    height: 40vh;
    
}

.navWrapper {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navBar {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 20px;
    z-index: 999;
    background-color: transparent;
}

.navBar > * {
    text-align: center;
}

h1 > *, h2 > * {
    text-decoration: none;
    color: #efefef;

    font-family: serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: 2px;
}

.dark > * {
    color: #333;
}

.navLogo {
    margin-top: -8px;
}