:root {
    --text-color: #555;
}

.recentsWrapper {
    height: 500px;
}

.heading {
    color: var(--text-color);
}

.link {
    text-decoration: none;
}

.title {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.image {
    height: 250px;
}